/* CSS Responsive Document */

/* Normal Desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) { 


}


/* Normal Desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) { 
footer {
	height: auto;}
}
 
 @media (min-width: 1170px) and (max-width: 1199px) {
	.navbar-default .navbar-nav > li > a, .mainmenu ul li a, .navbar-expand-lg .navbar-nav .nav-link { 
		padding: 15px 13px;
	}
}
@media (min-width: 992px) and (max-width: 1169px) { 
	.navbar-default .navbar-nav > li > a, .mainmenu ul li a, .navbar-expand-lg .navbar-nav .nav-link { 
		padding: 15px 10px; 
	}
	 
} 
  
 
@media only screen and (min-width: 767px) {
	/* Nav Level 1 */
	.mainmenu .collapse ul ul {
		position: absolute;
		top: 80px;
		left: 0;
		min-width: 250px;
		display: block;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: 0.5s ease all;
		transition: 0.5s ease all;
	}
	.mainmenu .collapse ul li:hover> ul {
		visibility: visible;
		opacity: 1;
		top: 100%;
	}
	.sticky .mainmenu .collapse ul li:hover> ul { 
		top: 75px;
	} 
	/* Nav Level 2 */
	.mainmenu .collapse ul ul li {
		position: relative;
	}
	.mainmenu .collapse ul ul ul {
		position: absolute;
		top: 0;
		left: -120%;
		min-width: 250px;
		display: block;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: 0.5s ease all;
		transition: 0.5s ease all;
	}
	.mainmenu .collapse ul ul li:hover> ul {
		visibility: visible;
		opacity: 1;
		top: 0;
		left: -100%!important;
	}
	.sticky .mainmenu .collapse ul ul li:hover> ul { 
		top: -0px; 
	} 
	.mainmenu .collapse ul ul li a .fa-angle-right{
		position: absolute;
		right: 20px;
		top: 20px;
	} 
	/* Nav Level 3 */
	.mainmenu .collapse ul ul ul li {
		position: relative
	}
	.mainmenu .collapse ul ul ul ul {
		position: absolute;
		top: 0;
		left: -120%;
		min-width: 250px;
		display: block;
		z-index: 1;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: 0.5s ease all;
		transition: 0.5s ease all;
	}
	.mainmenu .collapse ul ul ul li:hover ul {
		visibility: visible;
		opacity: 1;
		top: 0;
		left: -100% !important;
	} 
}

@media only screen and (max-width: 991px) {
    .only-mobile{
        display: inline-block;
    }
    .only-desktop{
        display: none;
    } 
    .mainmenu .collapse ul ul > li.dropdown > a,
    .mainmenu .collapse ul ul > li.dropdown > ul.dropdown-menu > li.dropdown > a{ 
        padding: 12px 15px 12px 35px; 
    }
    .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a, .navbar-nav .show .dropdown-menu .dropdown-menu > li > a, .navbar-nav .show .dropdown-menu > li > a {
		padding: 12px 15px 12px 35px; 
	} 
    /* Nav Level 1 mobile arrow */
    .mainmenu ul li a .fa-angle-down {
		position: absolute;
		right: 15px;
		top: 10px;
		width: 25px;
		height: 25px;
		background-color: #fff;
		color: #222222;
		text-align: center;
		line-height: 25px;
	}
	.navbar-expand-lg .navbar-nav {
		margin-top: 0;
		background-color: #fff;
	}
	.navbar-default .navbar-nav > li > a, .mainmenu ul li a, .navbar-expand-lg .navbar-nav .nav-link {
		color: #222222;
		font-size: 14px;
		padding: 12px 20px;
		border-bottom: 1px solid #e3e3e3;
	}
	.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu {
		background-color: #ffffff;
		border-top: 0px solid #e3e3e3;
	}
	.navbar-toggler {
		padding: 0;
		font-size: 28px;
		line-height: 1;
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: 0;
	}
	.sticky .navbar-light .navbar-toggler .fa-bars {
		color: #222222;
		border: 1px solid #222222;
		padding: 5px 10px;
		box-shadow: none;
	} 
	.navright{
		display: none;
	}
	.page2 .navbar-light .navbar-toggler .fa-bars {
		color: #000;
		border: 1px solid #000; 
	} 
	.mainmenu ul ul li a.dropdown-toggle::after {
		content: '\f107'; 
	}
	.mainmenu ul li.dropdown {
		margin-right: 0px;
	}
	.mainmenu ul li a.dropdown-toggle::after { 
		right: 20px;
	}
	.navbar-light .navbar-toggler .fa-bars {
		color: #fff;
		border: 1px solid #fff; 
	}
} 

@media only screen and (max-width: 991px) { 
    
.navbar-brand img {
    width: 190px;
}
	footer {
		padding: 40px 0px 0px 0px;
	}

.sticky .navbar-default .navbar-nav > li > a, .sticky .mainmenu ul li a, .sticky .navbar-expand-lg .navbar-nav .nav-link {
    color: #000;
}	
section.banner {
    top: 95px;
}	

.banner-title {
    z-index: 9;
}	
.banner-content h1 {
    font-size: 45px;
}	
.banner-content h4 {
    font-size: 15px;
}	
.slick-dots {
    bottom: -50%;
}	
	
footer {
    height: auto;
}	
.footer-social {
    float: none;
}	
.footer-section h4 {
    padding-bottom: 10px;
    margin-top: 20px;
}	
#skill {
    height: auto;
}	
.section-padding {
    padding: 30px 0px;
}
.service-heading h2 {
    font-size: 30px;
}
.nav-tabs .nav-link::before {

    border-bottom: 29px solid transparent;

border-left: 79px solid transparent;

border-right: 80px solid transparent;

}	
	
.nav-tabs .nav-item {
    width: 33.3%;
}	
.nav-tabs .nav-link {
    height: 44px;
    margin-left: 0px;
    margin-top: 55px;
    width: 90px;
}	
.nav-tabs .nav-link.active::before {
    border-bottom: 29px solid transparent;

}
.whousimg {
    margin-top: 20px;
}	
.recent-post {
    margin-bottom: 20px;

}	
section#contact-info {
     height: auto;
}
.form-sectionss {
    padding: 90px 0px 0px 0px;
}	
.contact-form ul {
    margin-left: 20px;
}
.page-header-content h2 {
    font-size: 50px;
}
.about-content-single h1 {
    font-size: 35px;
    margin-bottom: 17px;
}
.interest a {
    padding: 6px 7px;
    font-size: 11px;
	 width: 18%;
}	
.interest {
    margin-bottom: 15px;
	   
}
	select.form-seclsts{
		margin-bottom: 20px;
	}	
.solcial-icons ul li {
    margin-bottom: 7px;
}	
.post-content-single h3 {
    margin-bottom: 10px;
}

.progressbar {
    width: 50%;
}	
	
	
	
	
} 

/* Large Mobile Device :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.interest a {
	 width: 25%;
}
	
	
	
	
	
	
	
 
}
