/*
  Stylesheet CSS
  Project Name: DotNet Help Care
  Author: DotNet Help Care
  Version: 1.0
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
* {
      box-sizing: border-box;
    }
/*Reset CSS*/
html, body, div, span, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  abbr, address, cite, code,  del, dfn, em, img, ins, kbd, q, samp,  small, strong, sub, sup, var,  b, i,  dl, dt, dd, ol, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td,  article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, menu, nav, section, summary,  time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	font-family: 'Roboto', ;
	font-weight: normal;
	font-style: normal;
	overflow-x: hidden !important;
} 
article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,  q:before, q:after {
	content: '';
	content: none;
}
a{
	outline: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	color: #2b2b2b;
} 
a:focus,
a:hover{
	color: #3c4248; 
	text-decoration: none;
	outline: none;
	outline: 0;
}
button {
    outline: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent; 
} 
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
} 
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
} 
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}
input{
	vertical-align: middle;
}
select{
	vertical-align: middle;
}
img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
} 
button{
	cursor: pointer;
}
button:focus,input:focus,textarea,textarea:focus{
	outline: 0
} 
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', ;
	font-style: bold;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	margin-bottom: 15px;
} 
label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: #d6b161;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-moz-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
} 
section{
	width: 100%;
	float: left;
}
.section-padding{
	padding: 80px 0px;
}
.section-margin{
	margin: 80px 0px;
}
 span.yellow {
    color: #fecb19;
}
/* 2. Header Section */ 
header {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 999999;
	background-color: rgba(0, 0, 0, 0.80);
	    padding: 20px 0px;
} 
/*Nav Menu*/
.navbar-brand {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-brand img{
	width: 200px;
}
.navright i { 
    padding: 0;
    border-radius: 50%;
    font-size: 24px;
    height: 50px;
    text-align: center;
    width: 50px;
    line-height: 50px;
    cursor: pointer;
    margin-left: 20px;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
	background-color: #ffe3ba;
    color: #ff9400;
} 
.navright i:hover {
    background-color: #ff9400;
	color: #ffffff;
} 
.dropdown-menu {
    padding: 0;
    margin: 0; 
    border: 0 solid rgba(0, 0, 0, .15);
    border-radius: 0;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
} 
.navbar-default .navbar-nav > li > a, .mainmenu ul li a, .navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    font-size: 15px;
    padding: 15px 20px;
    display: block !important;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
	position: relative;
} 
.mainmenu ul li ul li a {
    color: #222;
    border-bottom: 1px solid #e3e3e3;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
} 
.mainmenu .active a, .mainmenu .active a:focus, .mainmenu .active a:hover, .mainmenu li a:hover, .mainmenu li a:focus, .navbar-default .navbar-nav>.show>a, .navbar-default .navbar-nav>.show>a:focus, .navbar-default .navbar-nav>.show>a:hover {
    color: #ff9300; 
    outline: 0; 
}
.mainmenu ul li ul li a:hover{
	padding-left: 15px; 
} 
.navbar-light .navbar-toggler{
    padding: 0;
}
.navbar-light .navbar-toggler .fa-bars{
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
}
.only-mobile{
    display: none;
}
.only-desktop{
    display: block;
} 
.mainmenu .collapse ul > li:hover > a { 
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
	color: #ff9300;
} 
.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu {
    background-color: #ffffff;
    border-top: 4px solid #ff9300;
	    top: 71px !important;
}

.mainmenu .collapse ul ul {
	min-width: 220px !important;
}
.mainmenu .collapse ul ul ul,
.mainmenu .collapse ul ul ul.dropdown-menu {
    background-color: #ffffff
}
.mainmenu .collapse ul ul ul ul,
.mainmenu .collapse ul ul ul ul.dropdown-menu {
    background-color: #ffffff
} 
.navbar-expand-lg .navbar-nav { 
    margin-top: -5px;
}
.mainmenu {
    background: none;
    border: 0 solid;
    margin: 0;
    padding: 0;
    min-height: 20px;
    width: 100%;
}  
.mainmenu ul li a.dropdown-toggle::after {
    content: '\f107';
    font-family: 'FontAwesome';
    font-size: 16px; 
    position: absolute;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 5px;
    border: 0;
}
.mainmenu ul ul li a.dropdown-toggle::after {
    content: '\f105';
    font-family: 'FontAwesome';
    font-size: 16px;
    position: absolute;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 5px;
    border: 0;
    right: 20px;
}
.mainmenu ul li.dropdown {
    margin-right: 10px;
}
.mainmenu ul ul li.dropdown {
    margin-right: 0px;
}

/*Sticky Header*/
header.sticky {
    position: fixed;
    background: #fff;
	-webkit-box-shadow: 6px 0px 20px rgba(193, 193, 193, 0.30);
	-o-box-shadow: 6px 0px 20px rgba(193, 193, 193, 0.30);
	-moz-box-shadow: 6px 0px 20px rgba(193, 193, 193, 0.30);
	-ms-box-shadow: 6px 0px 20px rgba(193, 193, 193, 0.30);
	box-shadow: 6px 0px 20px rgba(193, 193, 193, 0.30); 
    animation: sticky_topfade .5s ease-in-out;
	padding: 10px 0px;
} 
.sticky .navright i {
    background-color: #ffe3ba;
    color: #ff9400;
}
.sticky .navright i:hover {
    background-color: #ff9400;
	color: #ffffff;
} 
.sticky .navbar-default .navbar-nav > li > a, .sticky .mainmenu ul li a, .sticky .navbar-expand-lg .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.74);
} 

/*------------------------------
    Banner CSS
-----------------------------*/

.bannerimg img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.2);
}


.banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Roboto', sans-serif;
  z-index: 999;
	text-align: center;
	width: 100%;
}
.banner-animations {
    width: 100%;
    float: left;
    height: 100%;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
}

.banner-content h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 700;
}
.banner-content h4 {
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 32px;
}
a.custom-btn {
    font-size: 14px;
    color: #fff;
    border: 1px solid #fff;
    padding: 14px 30px;
    background-color: transparent;
    transition: 0.5s;
    letter-spacing: .5px;
    font-weight: 400;
}
a.custom-btn:hover{
    background-color: #fecb19;
    color: #000;
    border: 1px solid #fecb19;
}
.banner-content span {
    color: #fecb19;
}
canvas{
    display:block;
    vertical-align:bottom;
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}


/* ---- stats.js ---- */

.count-particles{
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles{
    font-size: 1.1em;
}

#stats,
.count-particles{
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

.count-particles{
    border-radius: 0 0 3px 3px;
}
/* -------------- 
particles.js container 
----------------- */

#particles-js{
    width: 100%;
    height: 100%;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/**------------------------
    Service css
--------------------------**/
section#service {
    width: 100%;
    float: left;
    
    text-align: center;

}

.service-heading h2 {
    color: #2b2b2b;
    font-size: 40px;
    text-transform: uppercase;
    line-height: inherit;
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 700;
}
.service-heading p {
    font-size: 15px;
    color: #2b2b2b;
    font-weight: 500;
    margin: 0px;
	line-height: inherit;
}
.service-heading {
    padding-bottom: 50px;
	cursor: pointer;
	
}
.service-content h3 {
    font-size: 18px;
    color: #2b2b2b;
    font-weight: 500;
    padding-top: 20px;
}
.service-content p {
    color: #2b2b2b;
    line-height: 16px;
    padding-top: 10px;
}
.service-content {
    padding: 31px 20px;
    border: 1px solid #2b2b2b;
}
.service-content i {
    color: #fecb19;
    font-size: 30px;
}
.service-content:hover{
	box-shadow: 0px 2px 16px #fecb19;
	transition: .5s;
}
.slick-slide {
    margin: 7px;
}
.slick-dots li.slick-active button:before {
	color: #fecb19 !important;
}

/*-------------
Skill Css
------------*/
#skill{
	background-image: url( "../images/skbg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 680px;
	position: relative;
	background-attachment: fixed;
	padding: 80px 0px;
}
#skill .service-heading h2, #skill .service-heading p{
	color: #fff;
}
.overlatskill{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color:rgba(0, 0, 0, 0.83); 
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
    width: 33.3%;
	text-align: center;
}

.nav-tabs .nav-link {
      background: #e8e8e8;
      display: inline-block;
      height: 35px;
      margin-left: 20px;
      margin-top: 55px;
      position: relative;
      width: 160px;
	border-radius: 0;
    }
.nav-tabs .nav-link:before {
		border-bottom: 29px solid #e8e8e8;
		border-left: 79px solid transparent;
		border-right: 80px solid transparent;
	  content: "";
	  height: 0;
	  left: 0;
	  position: absolute;
	  top: 34px;
	  width: 0;
	transform: rotate(180deg);
    }
#myTabContent {
    margin-top: 73px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fecb19;
        border-color: transparent;
}

.nav-tabs .nav-link.active:before {
		border-bottom: 29px solid #fecb19;
		border-left: 79px solid transparent;
		border-right: 80px solid transparent;
	  content: "";
	  height: 0;
	  left: 0;
	  position: absolute;
	  top: 34px;
	  width: 0;
	transform: rotate(180deg);
    }

.nav-tabs {
    border-bottom: 1px solid transparent;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}
.nav-tabs .nav-item a {
    font-size: 18px;
    color: #2b2b2b;
    font-weight: 600;

}
.tab-pane p {
    font-size: 15px;
	color: #e0e0e0;
}
.tab-pane p span{
	font-weight: bold;
}

/* Customize the label (the container) */
.missiontab {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	color: #e0e0e0;
}

.missiontab input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.missiontab:hover input ~ .checkmark {
  background-color: #ccc;
}

.missiontab input:checked ~ .checkmark {
  background-color: #fecb19;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.missiontab input:checked ~ .checkmark:after {
  display: block;
}

.missiontab .checkmark:after {
    left: 7px;
    top: 4px;
  width: 5px;
  height: 10px;
  border: solid #2b2b2b;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.skill-list h4 {
    display: inline-block;
	color: #fff;
}
.skill-list span {
    float: right;
    font-size: 18px;
    line-height: 25px;
	color: #fbfbfb;
}
.progress {
    margin-top: 8px;
    margin-bottom: 30px;
}
.skill {
    margin-top: 45px;
}
.progress1 .progress-bar,.progress2 .progress-bar, .progress3 .progress-bar, .progress4 .progress-bar {
    background-color: #fecb19;
}

.progress {
	height: .6rem;
}

/*--------------
Why us Choose
---------------*/
 .accordion {
 	width: 100%;
 	background: #FFF;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 }

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	color: #fecb19;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #fecb19;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;    
	background-color: #2b2b2b;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #fecb19;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	 border: 1px solid #ccc;
	color: #fecb19;
}

.accordion li.open i {
	color: #fecb19;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.accordion li.default .submenu {display: block;}
/**
 * Submenu
 -----------------------------*/
.submenu {
    display: none;
    font-size: 14px;
    padding: 20px 20px;
    border: 1px solid #ccc;
	margin-bottom: 20px;
}



 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 12px;
 	padding-left: 42px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	background: #b63b4d;
 	color: #FFF;
 }

/*------------------
	Project
----------------*/
.section-padding {
	width: 100%;
	float: left;
}
.section-heading {
    text-align: center;
    max-width: 620px;
    margin: 0 auto 60px;
}

.section-heading h2 {
    line-height: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.section-heading p {
    line-height: 28px;
    font-size: 15px;
    color: #696969;
}
.recent-post img {
    width: 100%;
}
.post-content {
    padding: 30px;
}
.post-content h3, .post-content p {
    color: #2b2b2b;
}
.post-content h3 {
    font-size: 20px;
}
.date-time {
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
	    padding-bottom: 8px;
}
.date-time span {
    padding: 8px;
    background-color: #ffd12b;
    font-size: 15px;
    font-weight: 500;
	color: #2b2b2b;
}
.recent-post a:hover {
    color: #000;
}
.recent-post {
    border: 1px solid #ddd;
	transition: .5s;
	cursor: pointer;
}
.recent-post:hover{
	box-shadow: 0px 0px 12px #ccc;
}
/*Testimonial*/

.testimonial{
    background: url( "../images/bdprj.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
	background-attachment: fixed;
}
.testimonial-haeding {
    text-align: center;
    margin-top: 120px;
}
.testimonial-content {
    padding: 20px 0 150px;
    text-align: center;
}
.testimonial-content img {
    margin-bottom: 40px;
}


.testimonial-content p {
    max-width: 720px;
    color: #fff;
    margin: 0 auto 26px;
    position: relative;
}

.testimonial-content h6 {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: transparent;
    border: 1px solid #fff;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background: #fff;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 40px;
}
.banner-overlay {
    background: rgba(0, 0, 0, 0.82);
    width: 100%;
    height: 100%;
}
.testimonial .service-heading h2, .testimonial .service-heading p {
	color: #fff;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 40px;
}
.swiper-pagination-bullet-active {
    background: #fff;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: transparent;
    border: 1px solid #fff;
    opacity: 1;
}
/*------------------------
	Footer Css
------------------------*/
footer {
    width: 100%;
    float: left;
	background-image: url( "../images/footer-bg.jpg");
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	    padding-top: 80px;
	margin-top: 80px;
}

img.footer-logo {
    padding-bottom: 20px;
}
.footer-section p {
    color: #fff;
    line-height: 22px;
    font-size: 15px;
    font-weight: 300;
}
.address {
    padding-top: 20px;
}
.address ul li {
    color: #fff;
    font-size: 15px;
    line-height: 27px;
	transition: .5s;
}
.address ul li:hover{
	color: #fecb19;
}
.address ul li i {
    padding-right: 10px;
    font-size: 16px;
	color: #fecb19;
}
i.fa.fa-map-marker.m-5 {
    font-size: 18px;
    padding-right: 12px;
}
.footer-section h4 {
    color: #fff;
    padding-bottom: 30px;
    margin-top: 11px;
}
.our-service ul li a {
    line-height: 32px;
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.6px;
	transition: 0.5s;
}
.widget-thumb {
    padding-bottom: 10px;
    display: inline-flex;
}
.thumb-img img {
    width: 93px;
}
.thumb-img{
	padding-right: 20px;
}
.thmb-content h5 {
    color: #fff;
    font-size: 15px;
}
.may {
    color: #fff;
	font-size: 12px;
}
.widget {
    width: 100%;
    float: left;
}

.widget-wrapper ul li {
    display: inline-block;
    padding: 1px;
}
.widget-wrapper ul li img {
    width: 80px;
    opacity: 0.5;
    transition: 0.5s;
}
.widget-wrapper ul li img:hover {
    opacity: 1;

}

.our-service ul li i {
    padding-right: 5px;
	color: #fecb19;
}
.our-service ul li a:hover{
	padding-left: 6px;
	color: #fecb19;
}
.copyright {
    width: 100%;
    float: left;
    background-color: #000;
    padding: 30px 0px;
    margin-top: 57px;
    border-top: 1px solid #2c2929;
}
.copy-text p {
    color: #fff;
    padding-top: 5px;
}
.footer-social {
    float: right;
}
.footer-social ul li a {
    padding: 8px 9px;
    color: #fff;
    border: 1px solid #fff;
    margin-right: 9px;
}
.footer-social ul li a {
    padding: 6px 8px 7px 10px;
    color: #fff;
    border: 1px solid #fecb19;
    display: inline-block;
    margin: 0px 4px;
	transition: 0.5s;
}
i.fa.fa-google-plus {
    font-size: 13px;
}
i.fa.fa-facebook {
    padding: 0px 4px 0px 1px;
}
.footer-social ul li a:hover{
	background-color: #fecb19;
	color: #000;
	
}
i.fa.fa-youtube-play {
    font-size: 14px;
    padding: 0px 2px 0px 0px;
}
li.border {
    border-top: 2px solid #fecb19 !important;
}
 .wow:first-child {
      visibility: hidden;
    }

.copy-text p a{
	color: #fff;
}

/*------------------------
	About page Css
------------------------*/

section.single-page-top {
    text-align: center;
	margin-bottom: 80px;
	background-image: url( "../images/benner-img.jpg") ;
    background-position: center center;
    background-size: cover;
	background-repeat: no-repeat;
	height: 250px;
}
.page-header-content{
	background: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
	padding-top: 60px;
}
.about-one h2 {
    font-size: 30px;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}
.page-header-content h2 {
    color: #fff;
    font-size: 60px;
    text-align: center;
	padding-bottom: 12px;
}
ul.custom-breadcrumb li {
    display: inline-block;
}
ul.custom-breadcrumb li a {
    color: #fff;
    padding: 0px 4px;
	transition: .5s;
}
ul.custom-breadcrumb li a:hover {
    color: #ffd12b;
    
}
.socila-abt ul li {
    display: inline-block;

}
.socila-abt ul li a {
    font-size: 15px;
	border: 1px solid #2b2b2b;
    margin: 0px 5px;
    text-align: center;
    padding-top: 3px;
	display: inline-block;
	width: 30px;
	height: 30px;
	color: #2b2b2b;
}
.socila-abt ul li a:hover{
	background-color: #fecb19;
}
.about-content-single p {
    font-size: 15px;
    line-height: 22px;
    padding-top: 11px;
    padding-bottom: 15px;
}
.left-about::after {
    content: '';
    color: #ddd;
    height: 284px;
    float: right;
    border: .5px solid #ddd;
    position: absolute;
    top: 123px;
    right: -8px;
}
/*------------------------
	Cotact Css
------------------------*/
section#contact-info {
    width: 100%;
    float: left;
    padding-bottom: 80px;
	background-image: url( "../images/map2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 680px;
	background-attachment: fixed;
	position: relative;
}
.overlaycontct{
	background-color: rgba(0, 0, 0, 0.90);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
input[type="text"].form-control::-webkit-input-placeholder {
  color: #fff;
	font-size: 13px;
	letter-spacing: 0.5px;
}
input[type="email"].form-control::-webkit-input-placeholder {
  color: #fff;
	font-size: 13px;
	letter-spacing: 0.5px;
}
textarea#messege::-webkit-input-placeholder {
  color: #fff;
	font-size: 13px;
	letter-spacing: 0.5px;
}
.form-sectionss {
    width: 100%;
    float: left;
    padding: 90px 0px;
}
.form-control:focus {
    background-color: transparent;
	box-shadow: 0 0 0 0.2rem rgba(255, 210, 0, 0.2);
	border-color: #fecb19;
}
input.form-control {
    height: 45px;
    background-color: transparent;
    margin-bottom: 18px;
    border: .5px solid #6c757d;
    border-radius: 0;
}
textarea#messege {
    width: 100%;
    background-color: transparent;
    border: .5px solid #6c757d;
    margin-bottom: 20px;
	    padding: 8px 10px;
}
input.submit-btn {
    width: 200px;
    height: 46px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid #6c757d;
	transition: .5s;
	color: #6c757d;
	background-color: transparent;
}
input.submit-btn:hover{
	background-color: transparent;
	border: 1px solid #fecb19;
	color: #fecb19;
}
.contact-form ul li {
    color: #fff;
    padding-bottom: 13px;
}
.contact-form ul {
    margin-top: 66px;
}
.contact-form ul li img {
    position: relative;
    top: 14px;
    right: 9px;
}
/**------------------------
    Forum css
--------------------------**/
body.background {
    background-color: #eee;
}
header.forum {
    width: 100%;
    float: left;
    padding: 20px 0px;
    background-color: #000;
    margin-bottom: 40px;
	position: relative;
}
button.search-btn {
    position: absolute;
    top: 0px;
    right: 16px;
    background-color: #fecb19;
    border: 0;
    padding: 10px;
}
.topics-new {
    display: inline-flex;
    float: right;
}
button.start-topics {
    margin-right: 20px;
    padding: 9px;
    border: 0;
    background-color: #fff;
    color: #000;
    font-size: 15px;
	transition: 0.5s;
}
i.fa.fa-caret-down {
    color: #fff;
}
button.start-topics:hover{
	background-color: #ddd;
}

.setting {
    float: right;
    /* margin-right: 0em; */
    cursor: pointer;
    position: relative;
    top: 6px;
}
.setting img {
    width: 25px;
}
ul.menu-dropdwn {
    position: absolute;
    right: 1em;
	top: 83px;
    background-color: #fff;
    width: 180px;
    height: 97px;
    z-index: 9;
    padding: 12px;
    border-top: 3px solid #fecb19;
}
ul.menu-dropdwn li a {
    color: #2b2b2b;
}

.interest a {
    display: inline-block;
    color: #ddd;
    border: 1px solid #ddd;
    margin: -2px;
    padding: 9px 16px;
}

a.interesitem {
    background-color: #fecb19;
    color: #2b2b2b;
}
.interest a:hover.interesitem{
	color: #2b2b2b;
}
.interest a:hover{
	color: #fecb19;
}
ul.menu-dropdwn li {
    padding: 3px 0px;
}
ul.menu-dropdwn li a:hover {
    color: #666666;
}
ul.menu-dropdwn li a i {
    padding-right: 7px;
}
.comment-part-oone {
    background-color: #fff;
    float: left;
    padding: 20px;
    margin-bottom: 30px;
}
.comment-part-two img {
    border-radius: 100%;
}
.icon-green ul {
    display: inline-flex;
}
.comments-content h4 {
	font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    padding-bottom: 10px;

}
ul.paginationforum li a {
    display: inline-block;
    color: #2b2b2b;
}
.comments-views {
    text-align: right;
	border-left: 1px solid #ccc;
}
.viewss ul li {
    display: inline-block;
}
.viewss ul {
    border-bottom: 1px solid #ddd;
}
.vote {
    padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
	margin-top: 10px;
}
.vote span {
    background-color: #BDC3C7;
    padding: 10px 17px;
    color: #fff;
	font-weight: 500;
}
.marks {
    width: 11px;
    height: 11px;
    background-color: #BDC3C7;
    position: absolute;
    right: 36px;
    top: 32px;
    transform: rotate(45deg);
}
.viewss ul li {
    color: #999;
    font-size: 14px;
    padding: 0px 0px 3px 5px;
}
.viewss {
    margin-bottom: 15px;
}
.green-active {
    width: 8px;
    height: 8px;
    background-color: #37a737;
    position: absolute;
    top: 0;
    border-radius: 100%;
    right: 10px;
}
.comment-part-two {
    position: relative;
}
.answers ul li {
    display: inline-block;
    padding: 0px 0px 0px 6px;
	color: #999;
     font-size: 14px;
}
.answers ul li spen {
    font-size: 11px;
    text-transform: uppercase;
}
.answers {
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
    margin-bottom: 15px;
}
.timess ul li {
    display: inline-block;
    padding: 0px 0px 0px 6px;
    color: #999;
     font-size: 14px;
}
ul.paginationforum li {
    display: inline-block;
    padding: 7px 12px;
    background-color: #ccc;
    margin: 0px 4px;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px #fff;
	cursor: pointer;
}
.pull-left {
    margin-bottom: 20px;
}
ul.paginationforum li:hover{
	background-color: #FFE11B;
	color: #000 !important;
}
a.previous {
    margin-right: 12px;
    position: relative;
    top: 37px;
    right: 15px;
}
i.fa.fa-angle-left {
    font-size: 30px;
}
a.next {
    position: relative;
    left: 43.5em;
    top: -32px;
}
i.fa.fa-angle-right{
	font-size: 30px;
}
/*------------------------
	Cetagories Css
------------------------*/
.cetagories{
	background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 9px 2px #ccc;
}
.cetagories-heading h4 {
    font-size: 24px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
}
.cetagories-heading ul li a {
    line-height: 27px;
    font-size: 16px;
	transition: 0.5s;
	color: #2b2b2b;
    display: inline-block;
}
.cetagories-heading ul li a:hover {
    color:#fecb19;
	padding-left: 5px;
}
.cetagories-heading ul li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 6px;
}
.cetagories-heading ul li:last-child{
	border-bottom: 0;
}
span.pull-right {
    width: 30px;
    text-align: center;
    padding-top: 4px;
}
.forum_img{
	background-image: url(../images/advertisment.jpg);
	background-repeat: no-repeat;
	height: 400px;
}
.merketingg {
    background-color: #fff;
    width: 100%;
    padding: 20px;
	margin-top:40px;
	box-shadow: 0px 0px 4px 0px #999;
	text-align: center;
}
.ad-marketing {
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
section#comments-item {
    padding: 20px 0px;
}

.topics-frm {
    width: 100%;
    float: left;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
}
.paddings{
	padding-left: 0;
	padding-right: 0;
}
.select-cetagories select{
	border: 1px solid #6c757d;
}
select.form-seclsts {
    width: 100%;
    float: left;
	    height: 40px;
    padding: 7px;
}
select.right-frm-select{
	    width: 100%;
    float: right;
	    height: 40px;
    padding: 7px;
}
.description {
    width: 100%;
    float: left;
    padding-top: 20px;
}
.submit-tpics-btn {
    width: 100%;
    float: left;
}
input.tp-btn {
    padding: 10px 30px;
    border: 1px solid transparent;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}
input.tp-btn:hover{
	border: 1px solid #f9d659;
	background-color: transparent;
}
input.font {
    color: #000 !important;
}
.left-side-avatar img {
    border-radius: 100%;
}
.merketingg .slick-prev, .slick-next {
	    top: -9%;
}
.merketingg .slick-prev {
    left: 0;
	    z-index: 99999;
	    background-color: #fecb19;

}
.merketingg .slick-next{
	right: 0;
	    z-index: 99999;
	    background-color: #fecb19;
}
.merketingg .slick-prev {
    width: 30px;
	height: 30px;
}
.merketingg .slick-next {
    top: -9%;
    width: 30px;
	height: 30px;
}
.merketingg .slick-prev:hover, .merketingg .slick-prev:focus, 
.merketingg .slick-next:hover, .merketingg .slick-next:focus {
    color: #fff;
    background: #fecb19;
}
.solcial-icons ul li {
    display: inline-block;
	padding: 0px 2px;
}
.solcial-icons {
    padding: 15px 0px;
}
.solcial-icons ul li i {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin-right: 6px;
    margin-left: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
}
.solcial-icons ul li:nth-child(1) i{
    background: #4267b2;
}
.solcial-icons ul li:nth-child(2) i{
    background: #e12444;
}
.solcial-icons ul li:nth-child(3) i{
    background: #1da1f2;
}
.solcial-icons ul li:nth-child(4) i{
    background: #ff5e9c;
}
.solcial-icons ul li:nth-child(5) i{
    background: #3a505e;
}
.solcial-icons ul li:nth-child(6) i{
    background: #1da1f2;
}
.post-meta a {
    color: #2b2b2b;
}
.team-widget {
    margin-bottom: 50px;
}
.team-widget-heading h4 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0px;
	    padding: 20px 0px;
	    font-size: 28px;
}
.progressbar {
    width: 25%;
    float: left;
}
.circle {
    position: relative;
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin-bottom: 12px;
}
canvas {
    width: 90px;
    height: 90px;
    line-height: 90px;
	 display: block;
    vertical-align: bottom;
}
.circle div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 1em;
    text-align: center;
    font-weight: 500;
    color: #212121;
}
.team-widget-content ul li {
    float: left;
    width: 25%;
    text-align: center;
}
.service-titles {
    padding: 15px 0;
    text-align: center;
    border: 1px solid #f0f0f0;
    margin-bottom: 5px;
    margin-top: 10px;
}
.service-titles h5 {
    text-transform: uppercase;
    font-weight: bold;
}
.widget-wrappesr {
    padding: 25px 26px;
    border: 1px solid #f0f0f0;
}
.service-list li:first-child {
    padding-top: 0;
}
.service-list li {
    padding: 13px 0;
    border-bottom: 1px solid #f0f0f0;
}
.service-list li span {
    font-weight: bold;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.flext-area {
    margin-bottom: 5px;
}
.flext-area.service .flexslider {
    margin: 0;
}
.post-type-content {
    padding: 30px 30px;
    border: 1px solid #f0f0f0;
}
.post-type-content h4 {
    font-weight: bold;
    color: #e8b10c;
    text-transform: uppercase;
    margin-bottom: 25px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.paragraph-one {
    margin-bottom: 30px;
}
blockquote {
    border: none;
    color: #686868;
    font-size: 15px;
    font-style: normal;
    line-height: 1.4736842105;
    margin-bottom: 30px;
    padding-left: 50px;
    position: relative;
}
.post-type-thumb {
    overflow: hidden;
    margin-bottom: 40px;
}
.post-type-thumb-left {
    display: inline-block;
    float: left;
}

.post-type-thumb-right {
    display: inline-block;
    float: right;
}
.service-list li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
.service-list li a {
    color: #2b2b2b;
}

/*//////////////////////
[ login ]*/
.limiter {
  width: 100%;
  margin: 0 auto;
background-color: #ddd;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrap-login100 {
  width: 400px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
   padding: 30px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}
.card{
	 box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}
/*------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

/*----------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
}

.label-input100 {
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  padding-left: 7px;
}

.input100 {
  font-size: 16px;
  color: #333333;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 55px;
  background: transparent;
  padding: 0 7px 0 43px;
	    border: 0;
}


/*---------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::after, .focus-input1002::after {
  content: '\f007';
  color: #adadad;
  font-size: 22px;
font-family: "FontAwesome";
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 20px);
  bottom: 0;
  left: 0;
  padding-left: 13px;
  padding-top: 3px;
}
.focus-input1002::after{
	content: '\f13e';
}



.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.input100:focus + .focus-input100::after {
  color: #545b62;
}

.has-val.input100 + .focus-input100::after {
  color: #545b62;
}


/*------------
[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;

}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: -webkit-linear-gradient(right, #545b62, #343a40, #545b62, #adb5bd);
  background: -o-linear-gradient(right, #545b62, #343a40, #545b62, #adb5bd);
  background: -moz-linear-gradient(right, #545b62, #343a40, #545b62, #adb5bd);
  background: linear-gradient(right, #545b62, #343a40, #545b62, #adb5bd);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
	border: 0;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}
.flex-col-c span {
    display: block;
}

/*------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  bottom: calc((100% - 20px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 2px;
  pointer-events: none;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  bottom: calc((100% - 20px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


/*///////////
[ Social item ]*/
.login100-social-item {
  font-size: 25px;
  color: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}

.login100-social-item:hover {
  color: #fff;
  background-color: #333333;
}

/*///////////
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
} 


/*-------------
Faq Css
-------------*/
.sec-title {
    margin-bottom: 45px;
	text-align: center;
}
.block-q {
    background: #fff;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
    padding: 30px;
    float: left;
    width: 100%;
}
.layout-width {
    background: #f8f8f8;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
	    padding-bottom: 80px;
	width: 100%;
    float: left;
}
.faq-testi-page .l-faq-block-up, .cat-block .l-faq-block-up {
    float: none;
    width: 50%;
    margin: 0 auto;
}
.cat-block .panel-group.custom {
    margin: 10px 0 0;
}
.panel.custom {
    margin-bottom: 11px;
    background: #fff;
    border: 1px solid #e7e7e7;
    padding: 0;
    border-radius: 4px;
}
.panel-title.custom a {
    font-family: open sans, sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #7e7e7e;
    text-decoration: none;
    display: block;
    margin: 10px;
}
.fa.fa-plus-circle.coll-a {
    float: right;
    font-size: 15px;
}
.panel-body.custom {
    font-family: open sans, sans-serif;
    color: #979797;
    line-height: 27px;
    font-size: 12px;
    border-top: 1px solid #e7e7e7;
    padding: 10px;
}
.faq-b {
    padding: 10px 0;
    margin: 10px 0;
}
.fa.fa-question-circle {
    color: #fff;
    font-size: 15px;
    padding-right: 5px;
}
.title-faq-q {
    font-family: open sans, sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
.title-faq-lv2 {
    background: #656d78;
}
.faq-b p {
    font-family: open sans, sans-serif;
    font-size: 13px;
    color: #8e8e8e;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 0;
    background: #f8f8f8;
    padding: 10px;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
}
.title-faq-lv2 {
    border-radius: 4px;
    padding: 10px;
    transition: all .3s;
}
.sec-title p {
    color: #b1b1b1;
    font-family: open sans, sans-serif;
    font-size: 13px;
    line-height: 27px;
    margin: 10px 0 0;
}
.sec-title h2 {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #656D78;
    margin: 0;
}
.cat-block {
    display: inline-block;
    width: 100%;
}
.footertop{
	margin-top: 0;
}
#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: #fecb19;
     color: #fff;
    text-align: center;
    /* font-size: 20px; */
    text-decoration: none;
    border-radius: 100%;
}
/*#back2Top:hover {
    background-color: #DDF;
	color: #000;
}*/
a#back2Top span {
    position: relative;
    top: 0px;
    width: 12px;
}
